<div class="list-top">
    <p>PREGLED SVIH DOBAVLJACA
</p>
</div>
<div class="list-top add-new">
    {{#if session.isAuthenticated}}
      {{#if (diff session.data.authenticated.user.role.name "SERVICER")}}
        {{#link-to 'new-supplier'}}<span class="icon-add"><i class="glyphicon glyphicon-plus-sign"></i></span> DODAJ DOBAVLJACA{{/link-to}}
      {{/if}}
    {{/if}}
    </div>

    <div class="container-supplier">
    {{#each model as |supplier|}}
      <div class="box first">
        <span class="icon-cont"><i class="glyphicon glyphicon-user"></i></span>
        <h3>{{supplier.name}}</h3>
        <div class = "details">
        <p> <b> Adresa: </b> {{supplier.address}} </p>
        <p> <b> Status: </b> {{supplier.status}} </p>
        <p> <b> Kategorija: </b> {{supplier.category}} </p>
        {{#if session.isAuthenticated}}
            {{#if (diff session.data.authenticated.user.role.name "SERVICER")}}
               <br> <button class="btn btn-default list-item-btn" {{action "createContract" supplier.id}}>Novi Ugovor</button>
                <button class="btn btn-default list-item-btn" {{action "delete" supplier.id}}>Deaktiviraj</button><br><br>
                {{star-rating
                    readOnly = true
                    rating = supplier.avgRating
                }}
                <button class="btn btn-default list-item-btn" {{action "rateSupplier" supplier.id}}>Ocjeni</button>
            {{/if}}
        {{/if}}
        </div>
    </div>
{{/each}}
</div>