<div class="container new-service-body">
 <div class="panel panel-default">
   <div class="panel-body">
    <h4>Unesite podatke o novoj uslugi:</h4>
    </div>
    <div class="panel-body register-form__footer">
    <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Id usluge:</label>
      {{input class="form-control" id="inputId" value=model.serviceId}}
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Naziv usluge:</label>
      {{input class="form-control" id="inputName" value=model.name}}
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Odgovorna osoba:</label>
      {{input class="form-control" id="inputPerson" value=model.responsiblePerson}}
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Cijena usluge:</label>
      {{input class="form-control" id="inputPrice" value=model.price}}
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Tip usluge:</label>
    <select class="form-control" id="exampleFormControlSelect1" onchange={{action "selectType" value="target.value"}}>
      <option>Tip 1</option>
      <option>Tip 2</option>
      <option>Tip 3</option>
      <option>Tip 4</option>
      <option>Tip 5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Opis usluge</label>
      {{textarea value=name cols="150" rows="6" value=model.description}}
  </div>
  <button class="btn btn-lg btn-primary col-md-2" type="submit" {{action 'onNext'}}>UNOS</button>
</form>
</div>
</div>
</div>