<div class="list-top">
    <p>CJENOVNIK USLUGA</p>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
    <thead>
      <tr>
        <th>Usluga</th>
        <th>Osnovna cijena</th>
        <th>Cijena za studente</th>
        <th>Cijena za penzionere</th>
        <th>Min. trajanje ugovora</th>
        <th>Dodatne informacije</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.services as |service|}}
        <tr class="active">
          <td>{{service.serviceId}}</td>
          <td>{{service.price}}</td>
          <td>{{multipliy service.price 0.95}}</td>
          <td>{{multipliy service.price 0.9}}</td>
          <td>1</td>
          <td>-</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
    </div>
  </div>
</div>
<br>
<br>
<div class="list-top">
    <p>CJENOVNIK PAKETA</p>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
    <thead>
      <tr>
        <th>Paket</th>
        <th>Osnovna cijena</th>
        <th>Cijena za studente</th>
        <th>Cijena za penzionere</th>
        <th>Min. trajanje ugovora</th>
        <th>Dodatne informacije</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.packages as |package|}}
        <tr class="active">
          <td>{{package.name}}</td>
          <td>{{package.price}}</td>
          <td>{{multipliy package.price  0.95}}</td>
          <td>{{multipliy package.price  0.9}}</td>
          <td>2</td>
          <td>-</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
    </div>
  </div>
</div>
