<div class="body-grey">
  <div class="services-head">
    <p>Usluge:</p>
  </div>
  <div class="service-row-one col-md-4">
    <h4> {{model.0.serviceId}} </h4>
    <img class='service-row-image' src="/assets/images/usluga.png"><br>
    <p>{{model.0.description}}</p>
  </div>
  <div class="service-row-two col-md-4">
    <h4> {{model.1.serviceId}} </h4>
    <img class='service-row-image' src="/assets/images/usluga.png"><br>
    <p>{{model.1.description}}</p>
  </div>
     <div class="service-row-three col-md-4">
    <h4> {{model.2.serviceId}} </h4>
    <img class='service-row-image' src="/assets/images/usluga.png"><br>
    <p>{{model.2.description}}</p>
  </div>

  <div class="col-md-12 button-services">
    {{#if session.isAuthenticated}}
      {{#if (diff session.data.authenticated.user.role.name "SUPPLIER")}}
        {{#link-to 'new-service'}}<button class="btn btn-primary">NOVA USLUGA</button>{{/link-to}}
      {{/if}}
    {{/if}}
    {{#link-to 'all-services'}}<button class="btn btn-primary">SVE USLUGE</button>{{/link-to}}
  </div>
</div>
