<div class="container new-service-body">
 <div class="panel panel-default">
   <div class="panel-body">
    <h3>Tehničke informacije o ponudjenoj usluzi</h3>
    </div>
    <div class="panel-body register-form__footer">
    <form>
  <div class="form-group">
    <label>Id usluge:</label>
      {{input class="form-control" value=model.serviceId readonly="true"}}
  </div>
  <div class="form-group">
    <label>Tip usluge:</label>
      {{input class="form-control" value=model.type readonly="true"}}
  </div>
  <div class="form-group">
    <label>Opis usluge:</label>
      {{textarea class="form-control" cols="50" rows="3" value=model.description readonly="true"}}
  </div>
  <div class="form-group">
    <label>Cijena usluge:</label>
      {{input class="form-control" value=model.price readonly="true"}}
  </div>
  <div class="form-group">
      <label>Broj narudžbi:</label>
      {{input class="form-control" value=activeContracts readonly="true"}}
  </div>
  <div class="form-group">
      <label>Raskinuti ugovori:</label>
      {{input class="form-control" value=canceledContracts readonly="true"}}
  </div>
  <div class="form-group">
      <label>Obnovljeni ugovori:</label>
      {{input class="form-control" value=renewedContracts readonly="true"}}
  </div>
  <div class="form-group">
      <label>Dostupnost usluge:</label>
      {{input class="form-control" value="0-24h" readonly="true"}}
  </div>
  <div class="form-group">
      <label>Odgovorna osoba:</label>
      {{input class="form-control" value=model.responsiblePerson readonly="true"}}
  </div>
  <div class="form-group">
      <label>Prioritet usluge:</label>
      {{input class="form-control" value=model.priority readonly="true"}}
  </div>
  <button class="btn btn-lg btn-primary col-md-2" type="submit" {{action "goBack"}}>NAZAD</button>
</form>
</div>
</div>
</div>